<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed posuere mauris, non vestibulum dolor. Cras scelerisque, libero id convallis efficitur, justo leo tincidunt quam, et scelerisque elit massa sed massa. Etiam lacinia hendrerit blandit. Sed sodales, nulla ac ullamcorper viverra, leo velit iaculis eros, ut tristique ex turpis vel sapien. Vestibulum pellentesque dui ac leo vestibulum hendrerit. Maecenas sem ligula, interdum nec nisi non, sagittis pharetra nisl. Sed a purus quis neque hendrerit convallis. Ut iaculis erat sem, quis maximus est maximus sed. Aliquam a risus rhoncus, sagittis urna vitae, molestie magna. Nam eget vestibulum dolor. Vivamus condimentum tellus quis hendrerit finibus. Sed sollicitudin purus quis neque imperdiet congue.</p>

<p>His favourite quotationis: </p>

<p>Aenean mollis dapibus tellus eu varius. Curabitur at massa ut felis venenatis sodales. Integer maximus viverra metus nec iaculis. Sed volutpat felis in ipsum congue pellentesque. Aliquam velit diam, porttitor et purus in, porta facilisis lorem. Praesent efficitur et lectus.</p>